/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap"); */

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --bxShadow: #cfcfcf;
  --txtColor: #333333;
  --txtColor2: #fff;
  --txtColor3: #0066ff;
  --bgColorBtn: #0033ff;
  --bgColorRes: #0066ff99;
  /*r= red, g = green, b = blue ==> #..  ..  .. ==> #ff0000    \\0 1 2 3 4 5  .. 9 a b c d e f
  */
  --borderLine: #fff;

  --fontF: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  font-size: 100%;
  background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
    0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
  background-image: radial-gradient(
      18% 28% at 24% 50%,
      #cefaffff 7%,
      #073aff00 100%
    ),
    radial-gradient(18% 28% at 18% 71%, #ffffff59 6%, #073aff00 100%),
    radial-gradient(70% 53% at 36% 76%, #73f2ffff 0%, #073aff00 100%),
    radial-gradient(42% 53% at 15% 94%, #ffffffff 7%, #073aff00 100%),
    radial-gradient(42% 53% at 34% 72%, #ffffffff 7%, #073aff00 100%),
    radial-gradient(18% 28% at 35% 87%, #ffffffff 7%, #073aff00 100%),
    radial-gradient(31% 43% at 7% 98%, #ffffffff 24%, #073aff00 100%),
    radial-gradient(21% 37% at 72% 23%, #d3ff6d9c 24%, #073aff00 100%),
    radial-gradient(35% 56% at 91% 74%, #8a4ffff5 9%, #073aff00 100%),
    radial-gradient(74% 86% at 67% 38%, #6dffaef5 24%, #073aff00 100%),
    linear-gradient(125deg, #4eb5ffff 1%, #4c00fcff 100%);
  background-repeat: no-repeat;
  height: 100vh;
}

.nav-control {
  font-size: 3em;
  display: none;
  cursor: pointer;
}

.menu-list {
  display: flex;
}

.close-control {
  font-size: 3em;
  display: none;
}

.lg {
  width: 13vh;
  height: 13vh;
  box-shadow: 0px 3px 6px var(--bxShadow);
  border-radius: 13vh;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 13vh;
  position: relative;
  height: 26vh;
}

.menu-item {
  font-size: 1.3em;
  text-decoration: none;
  color: var(--txtColor);
  font-family: var(--fontF);
  padding: 1.9vh 6vh;
}

.menu-item:hover {
  border-bottom: 3px solid var(--borderLine);
  color: var(--txtColor2);
  transition: 0.3s;
}

.info-bg-image {
  position: absolute;
  right: 0;
  margin: 0vh 9vh;
  width: 90vh;
  height: auto;
}

.info-title {
  font-size: 3em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: var(--txtColor3);
  font-family: var(--fontF);
  margin: 3vh 9vh;
  text-shadow: 0px 0px 6px var(--borderLine);
}

.info-context {
  width: 90vh;
  font-family: var(--fontF);
  margin: 0vh 9vh;
  color: var(--txtColor);
  font-size: 1.3em;
}

.info-more-btn {
  margin: 3vh 9vh;
  background-color: var(--txtColor3);
  font-family: var(--fontF);
  padding: 1.3vh 4.3vh;
  border: none;
  border: 1px solid var(--txtColor3);
  border-radius: 0.9vh;
  color: var(--txtColor2);
  font-weight: 600;
  cursor: pointer;
}
.info-more-btn:hover {
  background-color: var(--bgColorBtn);
  transition: 0.3s;
}

@media screen and (max-width: 990px) {
  .info-bg-image {
    display: none;
  }
  .nav-control {
    display: block;
    position: relative;
  }

  .nav-control:hover {
    color: var(--txtColor2);
    transition: 0.3s;
  }

  .menu-list {
    display: none;
    position: absolute;
    background-color: var(--bgColorRes);
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
  }
  .menu-item {
    display: block;
    text-align: center;
  }

  .menu-item:hover {
    border: none;
    background-color: var(--txtColor3);
    transition: 0.3s;
  }

  .close-control {
    text-align: right;
  }
}

/* 

relative: chiếm vị trên trình duyệt & nó chèn chỗ chiếm chỗ, đẩy các thẻ khác, những cái thẻ dc đẩy phụ thuộc vào nó.
absolute: ngược lại --> ko chiếm chỗ, tự do mọi hướng --> quân hậu
*==> thẻ bao nó được set up là relative thì nó chỉ có thể phụ thuộc relative

*/
